{% style %}
  .pricing_table_main {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .pricing_table_main {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .pricing_table_main h3.alt-heading {
    max-width: 345px;
    margin: 0 0 3rem;
    line-height: 1.15;
  }
  .pricing_table_main h3.alt-heading strong {
    color: #2D2D2D;
  }
  .pricing_table_main .grid {
    column-gap: 0;
  }
  .pricing_table_sub {
    margin-bottom : 35px;
  }
    @media only screen and (min-width: 750px) {
      .medium-up--hide {
      display: none !important;
    }
    }
  @media only screen and (max-width: 749px) {
    .pricing_table_main {
      padding-right: 0 !important;
    }
    .pricing_table_main .grid {
      overflow-x: auto;
      flex-wrap: nowrap;
    }
    .pricing_table_main .grid .grid__item:first-child {
      width: 300px !important;
      max-width: 300px !important;
    }
    .pricing_table_main .grid .grid__item {
      width: 180px !important;
      max-width: 180px !important;
    }
    .grid__item .block-price li:first-child {
      font-size: calc(var(--font-heading-scale) * 1.2rem) !important;
      height: 85px !important;
    }
    .block-price li {
      font-size: 1.5rem !important;
    }
    .swipe-more {
      display: inherit !important;
    }
    .swipe-more .swipe-more-flex {
      display: flex;
      align-items: center;
    }
    .swipe-more .swipe-more-flex .icon {
      height: 1rem;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(90deg);
      margin-right: 10px;
    }
  }
  .block-price {
    list-style-type:none;
    margin:15px 0;
    padding:0;
    -webkit-transition:.3s;
    transition:.3s;
    display:block;
  }
  .popular{
    transform:scale(1.1);
  }
  .pricing_table_main .grid .grid__item {
    width: 25%;
    max-width: 25%;
  }
  .pricing_table_main .grid .grid__item:first-child {
    width: 50%;
    max-width: 50%;
  }
  .pricing_table_main .grid .grid__item:first-child .block-price li {
    justify-content: flex-start;
  }
  .block-price li {
    border-bottom: var(--media-border-width) solid #7F9686;
    padding: 10px 0;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid__item .block-price li:first-child {
    height: 100px;
  }
  .grid__item:nth-child(2) .block-price li {
    border-bottom: var(--media-border-width) solid #EDDFD2;
  }
  .grid__item:nth-child(2) .block-price li:first-child {
    border-radius: 20px 20px 0 0;
  }
  .grid__item:nth-child(2) .block-price li:last-child {
    border-bottom: var(--media-border-width) solid #7F9686;
  }
  .pricing_table_main .grid .grid__item:first-child .block-price li:first-child {
    color: #eddfd2 !important;
  }
  .most-popular {
    font-size:16px;
  }
{% endstyle %}
<div class="page-width pricing_table_main {{section.settings.pricing-visibility}}">
  {%- liquid 
   case section.blocks.size
    when 1
    assign grid_item_width = ''
    when 2
    assign grid_item_width = 'medium-up--one-half'
    when 3
    assign grid_item_width = 'medium-up--one-third'
    when 4
    assign grid_item_width = 'medium-up--one-quarter'
    endcase 
  -%}  
   {% if section.settings.price-title != blank %}
     <h3 class="h2 alt-heading">{{ section.settings.price-title }}</h3>
   {% endif %}
   <ul class="page-width grid pricing-table-container">
      {% for block in section.blocks %}
      <li class="grid__item pricing-table-mob {{grid_item_width}}">
         <ul class="block-price {% if block.settings.column-mostpopular != blank %} popular {% endif %}">
            {% if block.settings.column-title != blank %}
            <li class="h5 alt-heading" style="background-color:{{block.settings.column-title-color}};color:{{block.settings.column-title-txt-color}};font-size:{{block.settings.column-title-sz}}px;font-weight: bold;">
              {% if block.settings.column-title != blank %}{{block.settings.column-title}}{% endif %}
               {% if block.settings.column-mostpopular != blank %}
               <sup class="most-popular"> <i class="fa fa-star " aria-hidden="true"></i> {{block.settings.column-mostpopular}} </sup>
               {% endif %}
            </li>
            {% endif %}
            {% if block.settings.text-1 != blank %}
            <li style="background-color:{{block.settings.column-color}};color:{{block.settings.column-txt-color}};font-size:{{block.settings.column-txt-sz}}px">{{block.settings.text-1}}</li>
            {% endif %}
            {% if block.settings.text-2 != blank %}
             <li style="background-color:{{block.settings.column-color}};color:{{block.settings.column-txt-color}};font-size:{{block.settings.column-txt-sz}}px">{{block.settings.text-2}}</li>
            {% endif %}
            {% if block.settings.text-3 != blank %}
             <li style="background-color:{{block.settings.column-color}};color:{{block.settings.column-txt-color}};font-size:{{block.settings.column-txt-sz}}px">{{block.settings.text-3}}</li>
            {% endif %}
            {% if block.settings.text-4 != blank %}
             <li style="background-color:{{block.settings.column-color}};color:{{block.settings.column-txt-color}};font-size:{{block.settings.column-txt-sz}}px">{{block.settings.text-4}}</li>
            {% endif %}
            {% if block.settings.text-5 != blank %}
             <li style="background-color:{{block.settings.column-color}};color:{{block.settings.column-txt-color}};font-size:{{block.settings.column-txt-sz}}px">{{block.settings.text-5}}</li>
            {% endif %}   
            {% if block.settings.text-6 != blank %}
             <li style="background-color:{{block.settings.column-color}};color:{{block.settings.column-txt-color}};font-size:{{block.settings.column-txt-sz}}px">{{block.settings.text-6}}</li>
            {% endif %} 
             {% if block.settings.text-7 != blank %}
             <li style="background-color:{{block.settings.column-color}};color:{{block.settings.column-txt-color}};font-size:{{block.settings.column-txt-sz}}px">{{block.settings.text-7}}</li>
            {% endif %}
            {% if block.settings.text-8 != blank %}
             <li style="background-color:{{block.settings.column-color}};color:{{block.settings.column-txt-color}};font-size:{{block.settings.column-txt-sz}}px">{{block.settings.text-8}}</li>
            {% endif %}
            {% if block.settings.text-9 != blank %}
             <li style="background-color:{{block.settings.column-color}};color:{{block.settings.column-txt-color}};font-size:{{block.settings.column-txt-sz}}px">{{block.settings.text-9}}</li>
            {% endif %}
         </ul>
      </li>
      {% endfor %}
   </ul>
   <div clas="swipe-more" style="display: none">
     <h5 class="alt-heading swipe-more-flex"><span class="icon">{% render 'icon-caret' %}</span> Swipe for more</h5>
   </div>
</div>
{% schema %}
{
  "name": "Pricing table",
"max_blocks": 4,
    "class": "section",
  "settings": [
    {
"type": "header",
"content": "Pricing table [Need help?](https:\/\/scrowp.com\/scrowp-shopify-theme-documentation\/how-to-add-and-customize-the-pricing-table/)"
},
{
   "type": "radio",
   "id": "pricing-visibility",
   "options": [
        { 
          "value": "medium-up--hide", 
          "label": "Mobile only"
        },
        { "value": "small--hide", 
          "label": "Desktop only"
        },
        { "value": "showboth",
          "label": "Both"
        }
     ],
        "label": "Visibility",
        "default":   "showboth"
    },
    {
      "type": "inline_richtext",
      "id": "price-title",
      "label": "Heading",
      "default": "Pricing table"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "html",
          "id": "column-title",
          "label": "Heading",
          "default": "Heading"
        },
      {
        "type": "range",
        "id": "column-title-sz",
        "min": 20,
        "max": 50,
        "step": 1,
        "label": "Size",
        "default": 25
      },
      {
        "type": "color",
        "id": "column-title-color",
        "label": "Background",
        "default": "#4CAF50"
      },
      {
        "type": "color",
        "id": "column-title-txt-color",
        "label": "Text",
        "default": "#fff"
      },
        {
          "type": "text",
          "id": "column-mostpopular",
          "label": "Most popular text"
        },
      
    {
      "type": "html",
      "id": "text-1",
      "label": "Text 1"
    },
    {
      "type": "html",
      "id": "text-2",
      "label": "Text 2"
    },
    {
      "type": "html",
      "id": "text-3",
      "label": "Text 3"
    },
    {
      "type": "html",
      "id": "text-4",
      "label": "Text 4"
    },
    {
      "type": "html",
      "id": "text-5",
      "label": "Text 5"
    },
    {
      "type": "html",
      "id": "text-6",
      "label": "Text 6"
    },
    {
      "type": "html",
      "id": "text-7",
      "label": "Text 7"
    },
    {
      "type": "html",
      "id": "text-8",
      "label": "Text 8"
    },
    {
      "type": "html",
      "id": "text-9",
      "label": "Text 9"
    },
      {
        "type": "color",
        "id": "column-color",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "column-txt-color",
        "label": "Text",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "column-txt-sz",
        "min": 18,
        "max": 45,
        "step": 1,
        "label": "Size",
        "default": 18
      },
      {
        "type": "color",
        "id": "color_price_txt",
        "label": "Text"
      }
      ]
    }
  ],
   "presets": [
    {
      "name": "Pricing table",
      "category": "Layout"
    }
  ] 
}
{% endschema %}